/* 主题色 */
:root {
    /* 字体 */
    --font-family: 'Arial', sans-serif;
    --theme-factor: 1; /* 主题因子，1 为浅色，0 为深色 */
    --color-base: calc(255 * (1 - var(--theme-factor)));
    --text-primary: rgba(var(--color-base), var(--color-base), var(--color-base), 0.87);
    --text-secondary: rgba(var(--color-base), var(--color-base), var(--color-base), 0.65);
    --text-tertiary: rgba(var(--color-base), var(--color-base), var(--color-base), 0.45);
    --text-disabled: rgba(var(--color-base), var(--color-base), var(--color-base), 0.25);
    --text-on-color: #fff;

    /* 中性色，根据主题因子进行调整 浅色主题下 中性色应该是从浅色到深色，深色主题下翻转。 */
    --color-neutral-50: hsla(0, 0%, calc(13% + (87% * var(--theme-factor))), 1);
    --color-neutral-100: hsla(0, 0%, calc(26% + (70% * var(--theme-factor))), 1);
    --color-neutral-200: hsla(0, 0%, calc(38% + (55% * var(--theme-factor))), 1);
    --color-neutral-300: hsla(0, 0%, calc(46% + (42% * var(--theme-factor))), 1);
    --color-neutral-400: hsla(0, 0%, calc(62% + (12% * var(--theme-factor))), 1);
    --color-neutral-500: hsla(0, 0%, calc(74% - (12% * var(--theme-factor))), 1);
    --color-neutral-600: hsla(0, 0%, calc(88% - (42% * var(--theme-factor))), 1);
    --color-neutral-700: hsla(0, 0%, calc(93% - (55% * var(--theme-factor))), 1);
    --color-neutral-800: hsla(0, 0%, calc(96% - (70% * var(--theme-factor))), 1);
    --color-neutral-900: hsla(0, 0%, calc(100% - (87% * var(--theme-factor))), 1);
    --color-neutral-1000: hsla(0, 0%, calc(100% - (100% * var(--theme-factor))), 1);
    /* 主题色（以蓝色为例） */
    --color-primary-50: #E3F2FD;
    --color-primary-100: #BBDEFB;
    --color-primary-200: #90CAF9;
    --color-primary-300: #64B5F6;
    --color-primary-400: #42A5F5;
    --color-primary-500: #2196F3;
    --color-primary-600: #1E88E5;
    --color-primary-700: #1976D2;
    --color-primary-800: #1565C0;

    /* 字号 */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;

    /* 圆角 */
    --border-radius-1: 0.125rem;
    --border-radius-2: 0.375rem;
    --border-radius-3: 0.625rem;
    --border-radius-4: 0.875rem;
    --border-radius-5: 1.125rem;
    --border-radius-6: 1.375rem;

    /* 网格间距 */
    --gap-1: 0.25rem;
    --gap-2: 0.5rem;
    --gap-3: 0.75rem;
    --gap-4: 1rem;
    --gap-5: 1.25rem;
    --gap-6: 1.5rem;
    --gap-7: 1.75rem;
    --gap-8: 2rem;
    --gap-9: 2.25rem;
    --gap-10: 2.5rem;
    --gap-11: 2.75rem;
    --gap-12: 3rem;
    --gap-13: 3.25rem;
    --gap-14: 3.5rem;
    --gap-15: 3.75rem;
    --gap-16: 4rem;
}
html{
    font-size: 16px;
}

/* 全局样式 */
body {
    background-color: var(--color-neutral-50);
    color: var(--text-primary);
    font-family: var(--font-family); /* 使用统一的字体 */
    margin: 0;
    padding: 0;
}

/* 基本元素的样式 */
h1 {
    font-size: var(--font-size-6xl);
    color: var(--text-primary);
    margin: var(--gap-4) 0; /* 上下间距 */
}

h2 {
    font-size: var(--font-size-5xl);
    color: var(--text-primary);
    margin: var(--gap-3) 0; /* 上下间距 */
}

h3 {
    font-size: var(--font-size-4xl);
    color: var(--text-primary);
    margin: var(--gap-2) 0; /* 上下间距 */
}

h4 {
    font-size: var(--font-size-3xl);
    color: var(--text-primary);
    margin: var(--gap-2) 0; /* 上下间距 */
}

p {
    font-size: var(--font-size-md);
    color: var(--text-primary);
    margin: var(--gap-2) 0; /* 上下间距 */
}

