#box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* 确保在其他元素之下 */
    /*overflow: hidden;*/
}

footer {
    color: var(--text-secondary);
    font-size: var(--font-size-md);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
