doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 
      block title 
        | My Static Site
    link(rel="shortcut icon", href="assets/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/styles/tailwind.css")
    block head
  body(class="bg-slate-900 text-white")
    block content
    
    footer(class="bg-slate-800 p-4 mt-16")
      div(class="container mx-auto text-center")
        p © 2023 My Static Site. All rights reserved.
    script(src="/scripts/scroll_animation_v0.1.js") 

