doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Static Site
    link(rel="shortcut icon", href="assets/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/styles/tailwind.css")
    block head
  body(class="bg-slate-900 text-white")
    block content
    script(src="/scripts/main.js")
    script(src="/scripts/scroll_animation_v0.1.js") 
