@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css */
@font-face {
  font-family: 'knewave';
  src: url('/assets/fonts/Knewave-Regular.ttf') format('truetype'); /* 替换 "MyFont.ttf" 为你的字体文件 */
}

html {
  scroll-behavior: smooth;
}


#box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* 确保在其他元素之下 */
    /*overflow: hidden;*/
}

.card {
    @apply
     bg-black bg-opacity-40 rounded-2xl shadow-lg p-4 transition-all duration-300 ease-in-out  border border-solid hover:shadow-xl hover:bg-opacity-80 hover:text-white
     flex flex-col gap-4 justify-between items-start w-full h-full;
     border-color: rgba(255, 255, 255, 0.2);
}

.tag {
    @apply
    text-xs font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500
}

.readmore {
    @apply
    text-xs  py-2 px-4 border border-white border-opacity-40 text-white text-opacity-50 rounded-md hover:bg-black hover:text-white transition-all duration-300 ease-in-out
}

.scroll-animation {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.4s ease, transform 0.5s ease;
    will-change: opacity, transform;
}

.scroll-animation.active {
    opacity: 1;
    transform: translateY(0);
}

.software-list-item {
    @apply bg-black bg-opacity-30 border border-white border-opacity-20 rounded-lg p-3 shadow-md
    flex flex-row gap-4 justify-start items-center w-full h-full min-h-28
    transition-all duration-300 ease-in-out hover:bg-opacity-50 hover:shadow-lg;
}
.sw-logo-resize{
    @apply w-12 h-12 object-contain object-center lg:w-20 lg:h-20 
}

.Areas-list-item {
    @apply bg-black bg-opacity-30 border border-white border-opacity-20 rounded-lg p-3 shadow-md
    flex flex-col gap-4 justify-start items-start w-full h-full min-h-28
    transition-all duration-300 ease-in-out hover:bg-opacity-50 hover:shadow-lg;
}


.areas-icon{
    @apply w-6 h-6 object-contain object-center lg:w-8 lg:h-8 
}

.Areas-list-item-p{
    @apply text-sm text-white text-opacity-75 font-light;
}


.home-button {
  @apply fixed top-2.5 left-2.5 bg-gray-800 text-gray-300 no-underline z-50 p-2 gap-2 rounded-lg opacity-100 transition-opacity duration-300 ease-in-out shadow-inner;
}

.home-button:hover {
  @apply opacity-80;
}

.scrolldown {
  @apply w-11/12 max-w-[50px] mb-8 z-50 fixed left-1/2 bottom-5;
}


.page { 
  @apply h-screen  text-white;
}


#p2 {
  @apply bg-no-repeat bg-cover bg-center bg-blend-darken relative;
  background-image: url(https://photo.237484.xyz/bg_chips_02.png);
}

#p2::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 pointer-events-none;
  backdrop-filter: blur(7px);
}





.tag-list {
  @apply flex flex-wrap lg:w-1/2 items-center gap-2 mb-5 z-10 relative w-fit ;
}


.tag-user {
  @apply inline-block px-5 py-2.5 m-1.5 rounded-full text-white text-base shadow-md transition-transform duration-200 ease-in-out;
  background: linear-gradient(135deg, #6a5acd, #8a2be2);
}

.tag-user:hover {
  @apply transform scale-105;
}

.work_card{
  @apply
  flex flex-row justify-between gap-2 items-center min-h-32
  bg-black bg-opacity-30 border border-white border-opacity-20 rounded-2xl p-3 shadow-md
}

.step {
  @apply p-3 font-mono text-base text-white text-opacity-75 font-normal bg-slate-700 rounded-md relative ;
}

.step:not(:last-child)::after {
  @apply content-['\2192'] absolute -right-4 top-1/2 -translate-y-1/2 text-white text-opacity-75;
}


.needs{
  @apply rounded-full w-80 h-80 flex flex-row items-center justify-center text-xl;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(103, 58, 183, 0.2) 100%);

}

.design-goals{
  @apply  w-72 h-72 flex flex-row items-center justify-center text-xl;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(103, 58, 183, 0.2) 100%);
}

.carousel-container{
  @apply relative w-[1200px] overflow-hidden mx-auto ;
}

.pseudo-element {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%) contrast(150%) grayscale(20%);
}

.grid-bg {
  background-size: 20px 20px;
  background-position: center center;
  background-image: radial-gradient(circle, #96969674 1px, #181818a0 1px);
  /* -webkit-mask-image: linear-gradient(to bottom, transparent, #fff 95px calc(100% - 95px), transparent), linear-gradient(to right, transparent, #fff 95px calc(100% - 95px), transparent); */
  /* mask-image: linear-gradient(to bottom, transparent, #fff 45px calc(100% - 45px), transparent), linear-gradient(to right, transparent, #fff 45px calc(100% - 45px), transparent); */
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}

@layer components {
  .gradient-border-after {
    @apply before:absolute before:content-[''] before:inset-0 before:border-2 before:border-neutral-600 before:rounded before:z-0;
    
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      z-index: -1;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: 0.625rem;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    &:hover::before {
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
      animation: moveGradient 4s alternate infinite;
    }
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

