@tailwind base;
@tailwind components;
@tailwind utilities;

#box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* 确保在其他元素之下 */
    /*overflow: hidden;*/
}

.card {
    @apply
     bg-black bg-opacity-40 rounded-2xl shadow-lg p-4 transition-all duration-300 ease-in-out lg:w-auto border border-solid hover:shadow-xl hover:bg-opacity-80 hover:text-white
     flex flex-col gap-4 justify-start items-start w-full h-full;
     border-color: rgba(255, 255, 255, 0.2);
}

.tag {
    @apply
    text-xs font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500
}

.readmore {
    @apply
    text-xs  py-2 px-4 border border-white border-opacity-40 text-white text-opacity-50 rounded-md hover:bg-black hover:text-white transition-all duration-300 ease-in-out
}

.scroll-animation {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.4s ease, transform 0.5s ease;
    will-change: opacity, transform;
}

.scroll-animation.active {
    opacity: 1;
    transform: translateY(0);
}

.software-list-item {
    @apply bg-black bg-opacity-30 border border-white border-opacity-20 rounded-lg p-3 shadow-md
    flex flex-row gap-4 justify-start items-center w-full h-full min-h-28
    transition-all duration-300 ease-in-out hover:bg-opacity-50 hover:shadow-lg;
}
.sw-logo-resize{
    @apply w-12 h-12 object-contain object-center lg:w-20 lg:h-20 
}

.Areas-list-item {
    @apply bg-black bg-opacity-30 border border-white border-opacity-20 rounded-lg p-3 shadow-md
    flex flex-col gap-4 justify-start items-start w-full h-full min-h-28
    transition-all duration-300 ease-in-out hover:bg-opacity-50 hover:shadow-lg;
}


.areas-icon{
    @apply w-6 h-6 object-contain object-center lg:w-8 lg:h-8 
}

.Areas-list-item-p{
    @apply text-sm text-white text-opacity-75 font-light;
}


.home-button {
  @apply fixed top-2.5 left-2.5 bg-gray-800 text-gray-300 no-underline z-50 p-2 gap-2 rounded-lg opacity-100 transition-opacity duration-300 ease-in-out shadow-inner shadow-white/10 shadow-black/25;
}

.home-button:hover {
  @apply opacity-80;
}

.scrolldown {
  @apply w-11/12 max-w-[50px] mb-8 z-50 fixed left-1/2 bottom-5;
}


.page { 
  @apply h-screen  text-white;
}


#p2 {
  @apply bg-no-repeat bg-cover bg-center bg-blend-darken relative;
  background-image: url(https://photo.237484.xyz/bg_chips_02.png);
}

#p2::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 pointer-events-none;
  backdrop-filter: blur(7px);
}





.tag-list {
  @apply flex flex-wrap lg:w-1/2 items-center gap-2 mb-5 z-10 relative w-fit justify-content;
}


.tag-user {
  @apply inline-block px-5 py-2.5 m-1.5 rounded-full text-white text-base shadow-md transition-transform duration-200 ease-in-out;
  background: linear-gradient(135deg, #6a5acd, #8a2be2);
}

.tag-user:hover {
  @apply transform scale-105;
}
