mixin title_P(title, description_1,description_2,layout_class="flex flex-col items-center justify-center")
  div(class=(layout_class + ' py-8 z-10 gap-4 scroll-animation'))
    h1(style="position: relative; z-index: 1;" class="text-6xl font-bold scroll-animation text-white")= title
    p(class="text-xl font-light mt-4")= description_1
    p(class="text-xl font-light mt-4")= description_2
